html,
body {
  margin: 0;
  padding: 10px;
}

.nav-logo {
  width: 60px;
}

.nav-items {
  display: flex;
  list-style-type: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items > li {
  padding: 10px;
}
