* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
  margin: 20px 0;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  border: black 1px solid;
}

.button--clicked {
  background-color: white;
  color: black;
  border: black 1px solid;
}

.button--green {
  background-color: green;
}

.button--red {
  background-color: red;
}

.quiz-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.question {
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
